.HomePageWrapper
{
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    .SummariesArea
    {
        border-style: solid;
        width: 20%;
        
    }
    .UploadFileArea
    {
        border-style: solid;
        width: 100%;
        
    }
}