.HomePageWrapper
{
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    .SummariesArea
    {
        // border-style: solid;
        width: 20%;
        height: 100vh;
        overflow-y: scroll;
      
        .SummaryBlock
        {
            display: flex;
            border-bottom-style: solid;
            border-width: 1px;
            &:hover{
                background-color: gray;
                cursor: pointer;
            }
            .SummaryTitle
            {
                padding-left: 20%;
            }
            .SummaryIcon
            {
                padding-top: 2%;
                padding-left: 10%;
            }
        }
        
    }
    .UploadFileArea
    {
        // border-style: solid;
        width: 100%;
        .btnUpload{
            font-size: large;
            width: 100%;
            border-top-right-radius: 6px !important;
            border-bottom-right-radius: 6px !important;
        }
        .SummaryResult
        {
            height: 90vh;
            overflow-y: scroll;
            border-style: solid;
            border-color: black;
            border-width: 1px;
        }
        .input-group{
            display: flex;
            text-align: center;
            justify-content: center;
        }
        .btn-upload
        {
            width: 100%;
            height: 9vh;
            text-align: center;
        }
    }
    
}
.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control, .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select 
{
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

